*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    min-height: 100vh;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

a{
text-decoration: none;
color: cornflowerblue;
}

#Intro{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #c750c8 30%, #ffffff 100%);

}

#quien_soy {
    

}
#cosas_feliz {
  

}
#cosas_enojar{
  
   
}
#unica {
   
    
}

div{

    margin: 55px;
    background-color: wheat;

}

.full-screen{
    min-height: 100vh;

}
.menu{
    position: fixed;
    top: 0;
    left: 0;
}
#menu,li{
    border: solid 1px paleturquoise;
    padding: 15px 10px;
    flex-direction: column;
    justify-content: center;
}
ul.menu{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-color: rebeccapurple;
}

#conteiner,h1,h2{
    font-family: 'League Gothic', sans-serif;
    
}

#container{
    background: radial-gradient(circle, rgba(238,174,202,1) 54%, rgba(47,5,50,0.10407913165266103) 55%);
}









